body {
background: #399;
background-image: url(http://alymbic.net/ukces.png);
font: 70% Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #FFF;
text-align: center;
padding-top: 5px;
padding-left: 2px;
padding-right: 2px;
padding-bottom: 2px;
margin: 2px;
}
div#label {
	width: 100%;
}

div#label > div {
	width: 30%;
	float: left;
	margin: 1px;
	padding: 1px;
	height: 50px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #FFF;
}

div#success {
	background: #FFF;
	color: #399;
}

div#satisfaction {
	background: #FFF;
	color: #399;
}

div#destination {
	background: #FFF;
	color: #399;
}

div#wage {
	background: #FFF;
	color: #399;
}

div#quality {
	background: #FFF;
	color: #399;
}
div#score {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	font-weight: 900;
	color: #FFF;
}
h1#provider {
	font: 120% Verdana, Arial, Helvetica, sans-serif;
	font-weight: 900;
	text-align: centre;
	color: #FFF;
	line-height: 15px;
}