body {
background: #399;
font: 70% Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #FFF;
text-align: center;
}
div#label {
	width: 100%;
}

div#label > div {
	width: 26%;
	float: left;
	margin: 5px 5px 5px 5px;
	padding: 10px 3px 3px 3px;
	height: 90px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #FFF;
}

div#success {
	background: #FFF;
	color: #399;
}

div#satisfaction {
	background: #FFF;
	color: #399;
}

div#destination {
	background: #FFF;
	color: #399;
}

div#wage {
	background: #FFF;
	color: #399;
}

div#quality {
	background: #FFF;
	color: #399;
}
div#score {
	font: 120% Verdana, Arial, Helvetica, sans-serif;
	font-weight: 900;
	color: #FFF;
}
h1#provider {
	font: 150% Verdana, Arial, Helvetica, sans-serif;
	font-weight: 900;
	text-align: centre;
	color: #FFF;
	line-height: 15px;
}
h1#course {
	font: 150% Verdana, Arial, Helvetica, sans-serif;
	font-weight: 900;
	text-align: centre;
	color: #FFF;
	line-height: 15px;
}