body {
background: #CCC;
font: 100% Verdana, Arial, Helvetica, sans-serif;
}
div#label {
	width: 100%;
}

div#label > div {
	width: 16%;
	float: left;
	margin: 3px 3px 3px 3px;
	padding: 10px 3px 3px 3px;
	height: 80px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #FFF;
}

div#success {
	background: #ea4e44;
}

div#satisfaction {
	background: #93c11a;
}

div#destination {
	background: #a693c6;
}

div#wage {
	background: #72c5c6;
}

div#quality {
	background: #f9b231;
}


